.app {
  background-color: #3A3845;
  height          : 100vh;
}

.app-logo {
  width : 64px;
  height: 64px;
}

.bg-nav {
  background-color: #ffffff;
}

.nav-menu {
  margin-left: 85px;
}

.nav-account {
  margin-left : 85px;
  margin-right: 30px;
}

.navbar-collapse {
  flex-grow: 0;
}


@media only screen and (max-width: 992px) {
  .nav-menu {
    margin-left: unset;
  }

  .dropdown-menu {
    border: none;
  }

  .nav-account {
    margin-left : unset;
    margin-right: unset;
  }
}

.container-home {
  padding-top     : 90px;
  height          : 100%;
  background-image: url('./assets/bg-home.png');
  background-size : cover;
}

.bt-outline-main {
  border-color : #ffffff;
  border-radius: 30px;
}

.bt-main {
  border-color    : #f00000;
  background-color: #f00000;
  border-radius   : 30px;
}

.content-main {
  position: absolute;
  bottom  : 30%;
  left    : 5%;
}

.content-box {}

.button-box {
  margin-top: 36px;
}